<h3> Checkin Yoni - <%= @date %> </h3>

<%= form_for @checkin, path: checkins_path  do |f| %>
  <!--
    <p style="background-color: #FBF7F0; margin-bottom: 21px; padding: 3px 0px;">
      OwlMaps Checkins happen weekly to keep team members up to date and to take a moment to take stock of the project's status quo
      and reflect on what may be done.
    </p>
  -->
  <!--
    <div class="page_part">
      <p style="text-decoration: underline; margin-bottom: 5px;"> 1/4 - Update </p>
      <%= f.text_area :first_input, placeholder: "What has been done/tried in the past couple of days on your front?" %>
      <button type="button" onclick="next();"> Skip </button>
      <button type="button" onclick="next();"> Continue </button>
    </div>
  -->
  <!--
    <div class="page_part">
      <p style="text-decoration: underline; margin-bottom: 5px;"> 2/4 - Plans </p>
      <%= f.text_area :second_input, placeholder: "What are some things ahead you are planning to do/consider doing next week?" %>
      <button type="button" onclick="next();"> Skip </button>
      <button type="button" onclick="next();"> Continue </button>
    </div>
  -->
  <!--
    <div class="page_part">
      <p style="text-decoration: underline; margin-bottom: 5px;"> 3/4 - Gut & Curiosity </p>
      <%= f.text_area :third_input, placeholder: "What have you recently come across that has piqued your interest and somehow seemed relevant/useful, even if not directly so?" %>
      <button type="button" onclick="next();"> Skip </button>
      <button type="button" onclick="next();"> Continue </button>
    </div>
  -->
  <div class="page_part">
    <p style="text-decoration: underline; margin-bottom: 5px;"> Mistakes - Elon's question </p>
    <%= f.text_area :fourth_input, placeholder: "What mistakes are you currently committing? In which ways are we currently fucking up/missing out?", style: "height: 111px;" %>
    <%= f.hidden_field :team_member, :value => "yoni" %>
    <div class="button" style="padding: 0px;">
      <%= f.submit "Done." %>
    </div>
  </div>
<% end %>

<!--
<div class="checkin_sidebar">
   <div style="width: 300px; float: left;">
      <h3> Basic Info </h3>
   </div>

   <div style="width: 300px; float: left;">
      <p style="text-decoration: underline;"> Intervals </p>
      <p> OwlMaps Checkins are happening on Fridays. A summary of all answers of all team members will then be sent out the following Monday. </p>
   </div>

   <div style="width: 300px; float: left;">
      <p style="text-decoration: underline;"> Reminders </p>
      <p> Team members who provide no reponse in a given week will get one reminder on Sunday. </p>
   </div>

   <div style="width: 300px; float: left;">
      <p style="text-decoration: underline;"> Questions </p>
      <p>
        The particular questions posed in the Checkin are evolving.
        <a href="mailto:seikowsky@googlemail.com?Subject=Suggestion%20" target="_top"> Click here </a>
        to make a suggestion.
      </p>
   </div>

   <div style="width: 300px; float: left;">
      <p style="text-decoration: underline;"> Histories </p>
      <p>
        A historic overview of all Checkins that have occured so far will soon be avaiable to all team members.
      </p>
   </div>
</div>
-->

<script type="text/javascript">
  /* simulate wizard with js */
  page_parts = $(".page_part");
  page_parts[0].style.display = "inline";

  count = 0
  function next(){
    page_parts[count].style.display = "none";
    page_parts[count+1].style.display = "inline";
    count += 1
  }

  function back(){
    page_parts[count].style.display = "none";
    page_parts[count-1].style.display = "inline";
    count -= 1
  }
</script>
